*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 142px;
    
}
.container-1{
    width: 40%;
    

   
}
.container-1 h1{
    color: #3A3A3A;

font-size: 38px;
font-style: normal;
font-weight: 700;

}
.container-1 p{
    color: #3A3A3A;

font-size: 16px;
font-style: normal;
font-weight: 600;

margin-top:15px ;
margin-bottom: 25px;
}
.container-1 a{
    border-radius: 41px;
background: #E02C6D;
color: white;
padding: 10px 25px ;
text-decoration: none;


}
.container-1 i{
    margin-left: 7px;
}
.container{
    width: 35%;
    margin-top: 35px;

}
.container img{
    width: 90%;
}
/* header css-end */

/* icon css-start */
.icon{
    display: flex;
    justify-content: center;
flex-wrap: wrap;
    
}
.icon-list{
    margin-right: 30px;
}
/* icon css-end */

/* collection css-start */
.collection-head{
    text-align: center;
    margin-top: 100px;
    color: #3A3A3A;

font-size: 15px;
font-style: normal;
font-weight: 600;
margin-bottom: 30px;
}
.collection{
    display: flex;
    justify-content: center;

}

.wrapper-second{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;

}
.child{
    border-radius: 5px;
background: #FFF;
box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
padding-top: 10px;
padding-left: 24px;
width: 330px;
height: 475px;

}
.child h1{
    text-transform: capitalize;
    color: var(--text-gray-900, #18191F);

font-size: 28px;
font-style: normal;
font-weight: 500;


}
.child i{
    color: orange;
    font-size: 12px;
}
.child span{
    color: #18191F;
}
.child p{
    color: var(--gray-50, #787885);
    text-transform: capitalize;

font-size: 14px;
font-style: normal;
font-weight: 700;

}
.collection-end{
    width: 90%;
    display: flex;
    justify-content: flex-end;
   margin-top: 15px;
}
.collection-end a{
    text-decoration: none;
    color:#E02C6D;
    font-weight: 700;
}
.container-2 h1{
    font-size: 30px;
}
.join-now{
    border-radius: 0px;
    font-weight: 700px !important;
}




/* collection css-end */
/* footer css-start*/
.parents{
    display: flex;
    
    justify-content: center;
    background-color:#0A0826 ;
    height: 200px;
    margin-top: 133px;
    margin-left: 0px;
    
   
}
.footer{
    display: flex ;
    flex-direction: column;
    color: white;
    margin-top:50px ;
    display: flex;
    
   
}
.footer h2{
    margin-left: 8px;
    color: #FFF;
font-feature-settings: 'clig' off, 'liga' off;

font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.footer-p{
    margin-left: 54px;
    

}
.footer p{
    color: var(--text-gray-300, #D9DBE1);
font-feature-settings: 'liga' off;

font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 171.429% */
}
.footer i{
    margin-left: 30px;
    margin-top: 20px;
}
/* footer css-end*/