*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* header css-start*/
.wrapper{
    display: flex;
   justify-content: center;
   height: 400px;
   gap: 80px;
   

  
   
}
.container-1{
width: 30%;

margin-top: 100px;
}
.container-1 h1{
    font-size: 20px;
    font-weight: 700px;
    color: #3A3A3A;
    text-transform: capitalize;
}
.container-1 p{
    color: #3A3A3A;
    font-weight: 600px;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 35px;
    text-transform: capitalize;
}
.container-1 a{
    text-decoration: none;
    color: #FFFFFF;
    background-color:#E02C6D ;
    padding: 10px 28px;
    font-size: 16px;
    font-weight: 700px;
    border-radius: 20px;
    text-transform: capitalize;

}

/* header css-end */
/* icon css-start */

.icon{
    display: flex;
    justify-content: center;
    margin-top: 143px;
    margin-right: 50px;
}
div{
    margin-left: 46px;
}
/* icon css-end */

/* collection css-start */
.collection-head{
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    margin-top: 500px;
    margin-bottom: 30px;
    color: #3A3A3A;
    font-size: 15px;
    font-weight: 400px;

}
.wrapper-collection{
    display: flex;
    justify-content: center;
   
    width: 90%;
}
.parent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 85%;
    row-gap: 65px;
    
}
.child{
    background-color: #FFFFFF;
    color:#787885 ;
    font-size: 14px;
    font-weight: 700px;
    text-transform: capitalize;
}
.child h2{
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    
    font-size: 25px;
    font-weight: 500px;
}
.ancortag a{
    display: flex;
    color: #E02C6D;
    width: 1200px;
    justify-content: end;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700px;
    font-style: normal;
}

  

/* collection css-end */

/* products css-start */

.container-img{
    margin-top: 85px;
    margin-right: 10px;
}
.wrapper-pro{
    
    margin-top: 150px;
    
}
.container-2 h1{
    color: #18191F;
    font-weight: 700px;
    font-size: 25px;
    text-transform: capitalize;
    
}
.container-2{
    
    width:35%;
}
.container-2 p{
    color: #6C6C6C;;
    

font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 700;
text-transform: capitalize;


}
.container-2 a{
    border-radius: 0px;
    font-size: 16px;
font-style: normal;
font-weight: 700px;
padding: 12px 40px;
text-transform: capitalize;
}


/* products css-end */

/* footer css-start*/
.parents{
    display: flex;
    
    justify-content: center;
    background-color:#0A0826 ;
    height: 200px;
    margin-top: 133px;
    margin-left: 0px;
    
   
}
.footer{
    display: flex ;
    flex-direction: column;
    color: white;
    margin-top:50px ;
    display: flex;
    
   
}
.footer h2{
    margin-left: 8px;
    color: #FFF;
font-feature-settings: 'clig' off, 'liga' off;

font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.footer-p{
    margin-left: 54px;
    

}
.footer p{
    color: var(--text-gray-300, #D9DBE1);
font-feature-settings: 'liga' off;

font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 171.429% */
}
/* footer css-end*/